<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="libraries/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="libraries/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <link href="libraries/bootstrap-3.3.4-dist/css/bootstrap-theme.min.css"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="libraries/bootstrap-3.3.4-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>

<div class="container te">
    <div class="row text-center">
        <h1>Ana</h1>
        <h1>Caos</h1>
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">objects</a>
                    </li>
                    <li>
                        <a href="#">graphic</a>
                    </li>
                    <li>
                        <a href="#">other</a>
                    </li>
                    <li>
                        <a href="#">about</a>
                    </li>
                    <li>
                        <a href="#">contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="imagenes md-col-4">
                <img src="images/garfunkel%20and%20oates.gif" alt="..." class="columna img-responsive">
                <img src="images/1129_1garfunkel_and_oates___elisabeth_caren.jpg" alt="..." class="columna img-responsive ">
                <img src="images/garfunkelandoates.jpg" alt="..." class="columna img-responsive">
                <img src="images/1129_1garfunkel_and_oates___elisabeth_caren.jpg" alt="..." class=" columna img-responsive">
                <img src="images/1129_1garfunkel_and_oates___elisabeth_caren.jpg" alt="..." class=" columna img-responsive">
                <img src="images/1129_1garfunkel_and_oates___elisabeth_caren.jpg" alt="..." class=" columna img-responsive">
            </div>
            <div class="imagenes md-col-4">
                <img src="images/garfunkel%20and%20oates.gif" alt="..." class="columna img-responsive">
                <img src="images/garfunkelandoates.jpg" alt="..." class="columna img-responsive">
                <img src="images/1129_1garfunkel_and_oates___elisabeth_caren.jpg" alt="..." class="columna img-responsive">
            </div>
            <div class="imagenes md-col-4">
                <img src="images/garfunkelandoates.jpg" alt="..." class="columna img-responsive">
                <img src="images/1129_1garfunkel_and_oates___elisabeth_caren.jpg" alt="..." class=" columna img-responsive">
                <img src="images/garfunkelandoates.jpg" alt="..." class="columna img-responsive">
            </div>
        </div>
    </div>
</body>

</html>